.nav {
    grid-area: n;
    background-color: rgb(255, 255, 255);
    

}

.item {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 20px;

}

.item a {
    text-decoration: none;
    
}

.active  {
    color: red;
}
